## Labo 2 - ETL met Python (retail data)

In [1]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

### Extract

In [2]:
# 4 csv bestanden importen in een pandas df
df_stores = pd.read_csv('stores data-set.csv')
df_sales = pd.read_csv('sales data-set.csv')
df_features = pd.read_csv('Features data set.csv')
df_holidays = pd.read_csv('holidays.csv')

### Transform

#### Features df

In [3]:
# Bekijk de datatypes uit de dataframe features
df_features.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [4]:
# Toon de eerste rijen uit de dataframe
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [5]:
# CreÃ«er een gefilterde df met alle kolommen
features_cols = ["Store", "Date", "Temperature", "Fuel_Price", "MarkDown1", "MarkDown2", 
                 "MarkDown3", "MarkDown4", "MarkDown5",
                "CPI", "Unemployment", "IsHoliday"]
df_features_transformed = df_features[features_cols].copy()

In [7]:
# Converteren van Features kolom 'Date' naar DateTime
df_features_transformed['Date'] = pd.to_datetime(df_features_transformed['Date'])
df_features_transformed.dtypes

Store                    int64
Date            datetime64[ns]
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                 bool
dtype: object

In [9]:
# Converteren van Features kolom 'Store' naar String
#

In [9]:
# Afronden van elke float waarde naar 2 decimalen
df_features_transformed = df_features_transformed.round({'Temperature':2, 'Fuel_Price':2, 'CPI':2, 'Unemployment':2})
df_features_transformed.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-05-02,42.31,2.57,NaN,NaN,NaN,NaN,NaN,211.10,8.11,False
1,1,2010-12-02,38.51,2.55,NaN,NaN,NaN,NaN,NaN,211.24,8.11,True
2,1,2010-02-19,39.93,2.51,NaN,NaN,NaN,NaN,NaN,211.29,8.11,False
3,1,2010-02-26,46.63,2.56,NaN,NaN,NaN,NaN,NaN,211.32,8.11,False
4,1,2010-05-03,46.50,2.62,NaN,NaN,NaN,NaN,NaN,211.35,8.11,False

In [12]:
# Converteer alle NaN waarden naar 0.0
# fillna gebruiken

In [13]:
# Hernoem MarkDownX en IsHoliday kolommen naar Mark_Down_X en Is_Holiday
# rename

In [14]:
# Toon de eerste rijen van de getransformeerde dataframe
# df_features_transformed.head()

In [15]:
# Haal alle datatypes op van df_features_transformed
#

#### Sales df

In [17]:
# Controleren van Sales datatypes
# df_sales.dtypes

In [18]:
# Weergeven van de eerste records
#

In [19]:
# CreÃ«er een gefilterde df met alle kolommen
# sales_cols = ["...", ...]
# df_sales_transformed = ...

In [20]:
# Converteren van sales kolommen 'Store' en 'Dept' naar string
# df_sales_transformed[...] = 
#

In [21]:
# Hernoem Sales kolom 'IsHoliday' naar Is_Holiday
#

In [22]:
# Converteer Sales kolom 'Date' naar Datetime
#

In [23]:
# Alle kolomnamen naar lowercase
# df_sales_transformed.columns = map(...)

In [24]:
# Toon de eerste records
#

In [25]:
# Haal de datatypes op ter controle
#

#### Holidays df

In [26]:
# Controleren van de datatypes
#

In [27]:
# Weergeven van de eerste records
#

In [28]:
# CreÃ«er een gefilterde df met alle kolommen
# holidays_cols = ["...", ...]
# df_holidays_transformed = ...

In [29]:
# Converteren van Holidays kolom 'Date' naar Datetime
#

In [31]:
# Alle kolomnamen naar lowercase
# df_holidays_transformed.columns = map(...)
# df_holidays_transformed

In [32]:
# Haal de datatypes op ter controle
#

#### Stores df

In [33]:
# Controleren van de datatypes
#

In [34]:
# Weergeven van de eerste record
#

In [35]:
# CreÃ«er een gefilterde df met alle kolommen
# stores_cols = ["...", ...]
# df_stores_transformed = ...

In [36]:
# Converteren van Stores kolom 'Store' naar string
#

In [37]:
# Alle kolomnamen naar lowercase
# df_stores_transformed.columns = map(...)
# df_stores_transformed

In [38]:
# Haal de datatypes op ter controle
#

### Load

In [43]:
import mysql.connector
from sqlalchemy import create_engine
# engine = create_engine(...) #retail_db moet al aangemaakt zijn

In [42]:
# Laden van dataframes stores, holidays en features in een database
# df_stores_transformed.to_sql(...)
# df_holidays_transformed 
# df_features_transformed