# Twitter Data

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Stijnvhd/AutoML_DL_Course/main/Data/Twitter_Data.csv')
df.head(5)

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

# Diabetes

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Stijnvhd/AutoML_DL_Course/main/Data//diabetes.csv')
df = df.dropna()
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# Cifar10

In [4]:
from tensorflow.keras.datasets import cifar10
import autokeras as ak

# Prepare the dataset.
(x_train, y_train), (x_test, y_test) = cifar10.load_data()
print(x_train.shape)  
print(y_train.shape)  
print(y_train[:3])

(50000, 32, 32, 3)
(50000, 1)
[[6]
 [9]
 [9]]